 /* Upvotes
------------------------------------- */
  .arrow.upmod {
      background: url(%%upm%%) no-repeat 0 0;
      width: 13px;
      height: 17px;
      background-position: 0 0;
  }
  .arrow.downmod {
      background: url(%%dwm%%) no-repeat 0 0;
      width: 13px;
      height: 17px;
      background-position: 0 0;
  }
  .arrow.up {
      background: url(%%up%%) no-repeat 0 0;
      width: 13px;
      height: 17px;
      background-position: 0 0;
  }
  .arrow.down {
      background: url(%%dw%%) no-repeat 0 0;
      width: 13px;
      height: 17px;
      background-position: 0 0;
  }