/* 
GENERAL
------------------------------------- 
*/

body {
font-family: "HelveticaNeue" ,"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
width: 100%;
background: #FFF;
}
a, a:visited {
color: #950a1f;
text-decoration: none;
}
a:hover {
color: #000;
}
h1, h2, h3, h4, h5, h6 {
color: #950a1f;
}

/* 
POTW
------------------------------------- 
*/
.side h1 a[href="#caption"]:after, {
  top: 415px;
  /* 1 line: 369px; 2 lines: 358px; 3 lines: 347px... */
  content:"players' player and fan's player of the year, well deserved, David de gea!"
}
.side h1 a[href="#potw"], .side h1 a[href="#caption"] {
  cursor: default !important;
}

.side h1 a[href="#potw"]:after {
  background: black url(%%potw%%) no-repeat;
  background-position: center;
  display: inline-block;
  width: 278px;
  height: 250px;
  content:"";
  border: white solid 6px;
  border-radius: 3px;
  cursor: default !important;
  position: absolute;
  top: 200px;
  right: 10px;
}

.side h1 a[href="#caption"]:after {
  position: absolute;
  right: 16px;
  width: 268px;
  color: white;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  text-align: left;
  border-radius: 3px;
  background-position: bottom left;
  background-image: url(%%potwbg%%);
  display: inline-block;
  cursor: default !important;
  padding: 5px;
}

.side a[href="http://www.reddit.com/r/reddevils/search?q=transfer+round+up&sort=new&restrict_sr=on"] {
  display: inline-block;
  width: 295px;
  height: 102px;
  background-image: url(%%transfers%%);
  margin: 10px 0 0 0;
  border-radius: 3px;
}

/* 
BODY
------------------------------------- 
*/
body {
  background: #fff;
  color: #343434;
  font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
a, a:visited {
  color: #950a1f;
}
h1 a {
  font-weight: 700;
}
h2 {
  color: #950a1f;
  font-size: 1.2em;
}
h2 a, h2 a:visited {
  color: #343434;
}
hr {
  border: none;
  border-top: #d9d9d9 1px solid;
}
.error {
  color: #920e23;
  font-weight: 700;
}
div.content {
  margin: 20px;
  padding: 0;
}
code {
  color: #666;
  background-color: #fffdcf;
}
textarea, input[type="text"], input[type="password"], input[type="url"] {
  background: #f6f6f7 !important;
  color: #999999;
  border: none !important;
  box-shadow: none !important;
}
.md table {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  border: none;
  border-bottom: 1px #525252 solid;
  margin: 0;
  padding: 0 !important;
}
.md table th {
  font-size: 11px;
  padding: 5px 0;
}
.md table td {
  color: #343434;
  border: none;
}
.md table tr {
  height: 27.5px;
}
.md table td, .md table th {
  text-align: center;
  border: none;
}
.RES-keyNav-activeElement, .commentarea .RES-keyNav-activeElement .md, .commentarea .RES-keyNav-activeElement.entry .noncollapsed {
  background-color: #0000FF !important;
}

/* 
SIDEBAR
------------------------------------- 
*/
.side {
  margin-top: 275px;
}
.side div.bottom {
  display: none;
}
.side .md {
  text-transform: none;
}
.side .md h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 15px 0 0 0;
  background: #950a1f;
  border-radius: 3px;
  padding: 6px 6px 6px 10px;
  color: white;
}
.side .sidebox.submit div.morelink {
  border: 0;
  background-image: url(%%submit%%);
  background-position: 0 0;
  background-repeat: no-repeat;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 40px;
  height: 40px;
  text-align: left;
  border-radius: 3px;
}
.side .sidebox.submit div.morelink a {
  padding: 0 0 0 10px;
  color: white;
  font-size: 16px;
}
.side .sidebox.submit div.morelink div.nub {
  position: relative;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: none;
  background-image: none;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.side .sidebox.submit div.morelink {
  border: 0;
  background-image: url(%%submit%%);
  background-position: 0 0;
  background-repeat: no-repeat;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 40px;
  height: 40px;
  text-align: left;
  border-radius: 3px;
}
form#search input {
  border: #ccc 1px solid !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top:5px;
  margin-bottom:5px;
  padding-bottom: 50px;
  font-size:14px !important;
  height: : 50px;
}
form#search input[type=text] {
  border: 1px solid gray;
  font-size: 18px;
  width: 275px;
  padding: 10px;
}
.linkinfo {
  padding: 5px;
  border: 1px solid #fff;
  background-color: #fff;
  font-family: arial, helvetica, sans-serif;
  font-size: larger;
  border-radius: 3px;
}
.titlebox h1.redditname a {
  display: block;
  font-size: 14px;
  width: 300px;
  height: 36px;
  color: #FFF;
  background: url(%%submit%%);
  letter-spacing: normal;
  line-height: 40px;
  text-indent: 10px;
  height: 40px;
  text-align: left;
  border-radius: 3px;
  font-weight: 300;
  padding: 10 0 0 0px;
}


/* 
SCOREBOARD
------------------------------------- 
*/
.side .titlebox .md table:nth-of-type(1) {
  box-shadow: none;
  background: #8a081a !important;
  border: none;
  width: 350px;
  position: absolute;
  z-index: 100;
  top: 42px;
  right: 0%;
  text-transform: uppercase;
}
.side .titlebox .md table:nth-of-type(1) tr td {
  border: none;
  font-size: 0.8em;
  color: #888;
  padding: 5px;
}
.side .titlebox .md table:nth-of-type(1) em {
  color: #5a0910 !important;
  font-style: normal !important;
  font-weight: bold;
}
.side .titlebox .md table:nth-of-type(1) tr td:nth-of-type(2) {
  font-weight: bold;
  color: white;
}
.side .titlebox .md table:nth-of-type(1) a {
  cursor: pointer;
  color: white;
}
.side .titlebox .md table:nth-of-type(1) thead {
  display: none !important;
}

/* 
SIDETABLE
------------------------------------- 
*/
.side.md table {
  width: 275px;
  font-family:"Helvetica Neue", Helvetica, Arial, Verdana, sans-serif !important;
  background: white;
  box-shadow: 0px 1px 3px #ccc;
  margin-top: 7px !important;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  cursor: default;
}
.side.md table th {
  width: 275px;
  text-align:center;
  font-size: 11px;
  color: #f1f1f1;
  border: none;
  border-top: #efa7a7 1px solid;
  padding: 0.6em 0.7em;
  text-shadow: #611920 0 1px 0;
  background: #a80010 !important;
  /* Old browsers */
  background: -moz-linear-gradient(bottom, #a80010, #d53030) !important;
  /* FF3.6+ */
  background: -webkit-linear-gradient(bottom, #a80010, #d53030) !important;
  /* Chrome10 up,Safari5.1+ */
  background: -ms-linear-gradient(bottom, #a80010, #d53030) !important;
  /* IE10 up */
  background: linear-gradient(to bottom, #a80010, #d53030) !important;
  /* W3C */
}
.side .md table td {
  width: 275px;
  color: #393939;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  padding: 0.5em;
}
.side .md table tr:hover {
  background: #f5f5f5;
}
.side .md table strong {
  color: #bf1720;
  font-weight: bold;
}
.side .titlebox .md table a {
  cursor: default;
  color: inherit;
}
.side .sidecontentbox ul .icon-menu a {
  background: none !important;
}
.side .sidecontentbox .collapse-button {
  background: #fafafa !important;
  border: #ddd 1px solid !important;
  color: #999 !important;
  font-weight: bold;
}
.side .sidecontentbox .content {
  font-size: 10px;
  border-radius: 3px;
  border: #ddd 1px solid;
  background-color: #fafafa;
}
.side .sidecontentbox .title h1 {
  font-weight: bold;
  color: #bb2211;
  font-size: 12px;
}
.side .sidecontentbox .content a {
  color: #666;
}

/* 
User Notification Bar
------------------------------------- 
*/
sr-more-link {
  background-color: #950a1f;
}
.drop-choices a.choice {
  color: #000 !important;
}
.dropdown.srdrop .selected {
  color: #950a1f !important;
}
.user, .user a, #mailCount, .pref-lang, .logout.hover a, .res-navTop .separator {
  color:white !important;
}
.logout.hover a {
  padding-right: 21px !important;
}
#header-bottom-right {
  position: absolute;
  top: 135px !important;
  right: 0px !important;
  border-radius: 0 !important;
  background-repeat: repeat-x;
  display: block;
  background-color:transparent!important;
  height: 28px !important;
  padding: 10px 0px 0px !important;
}
body.res #header #header-bottom-right {
  position: absolute;
  top: 135px !important;
  right: 0px !important;
  background-repeat: repeat-x;
  display: block;
  background-color:transparent!important;
  height: 28px !important;
}
#userbarToggle {
  color: white !important;
  border-radius: 0 !important;
  background-color:transparent!important;
  border: none !important;
  line-height:38px !important;
  min-height: 38px !important;
}
#userbarToggle.userbarShow {
  left: -30px !important;
}

.RESDropdownList {
  background: #8A081A!important;
  border: 1px solid white!important;
}
.RESDropdownList li {
  color: white!important;
  background: #8A081A!important;
  border: 1px solid #8A081A!important;
}

/* 
Subreddit Header Section
------------------------------------- 
*/

#header {
  background-color: #950a1f;
  border-bottom: 55px #8a081a solid;
  height: 125px;
}

#header #header-bottom-left {
  position: relative;
  top: 25px;
}
#header .pagename {
  visibility: hidden;
  position: relative;
  bottom: 10px;
}
#header .pagename a:before {
  visibility: visible;
  content: url(%%sr-logo%%);
  color: #fff;
}
#header .tabmenu {
  position: absolute;
  left: 55px;
  top: 94px;
  font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background: none;
  color: #5a0910;
  border: none;
  font-size: 12px;
}
#header .tabmenu li {
  margin-left: 0px;
}
#header .tabmenu li.selected a {
  color: #fff;
  font-weight: 700;
  border: none;
  background: none;
}
#header .tabmenu li a {
  background: none;
  color: #5a0910;
  padding: 20px 15px;
}
#header .tabmenu li a:hover {
  color: #fff;
}
#header-img {
  margin-top: 10px;
  margin-right: 5px;
}

/* 
Subreddit List on the Top
------------------------------------- 
*/

#sr-header-area, #header #sr-more-link {
  height: 29px;
  line-height: 29px;
  color: #950a1f;
}
#sr-header-area a, a:visited {
  color: #8a081a;
}

#sr-header-area {
height: 29px;
line-height: 29px;
background: #1a1a1a;
border-bottom: none;
}

#sr-header-area #srLeftContainer.sr-bar {
margin-left: 5px;
height: 29px;
line-height: 29px;
}

#sr-header-area #srLeftContainer.sr-bar span.separator {
color: #8a081a!important;
}

#sr-header-area a, #sr-header-area a:visited {
color: #8a081a;
}

#sr-header-area a:hover {
color: white;
}

#sr-header-area .separator {
  color: #8a081a !important;
}

#RESShortcutsEditContainer {
  width: 75px;
  background-color: #1a1a1a!important;
  height: 29px;
  line-height: 29px;
}

#RESShortcutsSort, #RESShortcutsRight, #RESShortcutsLeft, #RESShortcutsAdd, #RESShortcutsTrash {
  background-color: #1a1a1a!important;
  color: #950a1f !important;
  height: 29px !important;
  line-height: 29px !important;
}

#RESShortcutsRight, #RESShortcutsLeft, #RESShortcutsAdd {
  font-size: 11px !important;
  height: 29px;
  line-height: 29px;
}


#RESShortcutsSort {
  font-size: 11px !important;
  height: 29px !important;
  line-height:29px !important;
}

.selected .title {
  color:white !important;
}

#RESSubredditGroupDropdown {
  display: none;
  position: absolute;
  padding: 3px;
  background-color: #8A081A;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#RESSubredditGroupDropdown li {
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: 2px;
}

#RESSubredditGroupDropdown li a{
  color: white!important;
}

#srList {
  display: none;
  position: absolute;
  padding: 3px;
  background-color: #8A081A;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#srList td a{
  color: white!important;
}

#srList td a:visited{
  color: white!important;
} 

