/* Body
------------------------------------- */
body {
background: #fff;
color: #343434;
font-family: "HelveticaNeue" ,"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a, a:visited {
color: #950a1f;
}

h1 a {
font-weight: 700;
}

h2 {
color: #950a1f;
font-size: 1.2em;
}

h2 a, h2 a:visited {
color: #343434;
}

hr {
border: none;
border-top: #d9d9d9 1px solid;
}

.error {
color: #920e23;
font-weight: 700;
}

.content {
margin: 0;
padding: 0;
}

code {
color: #666;
background-color: #fffdcf;
}

textarea, input[type="text"], input[type="password"], input[type="url"] {
background: #f6f6f7 !important;
color: #999999;
border: none !important;
box-shadow: none !important;
}

.md table {
text-align: center;
font-size: 12px;
font-weight: 700;
border: none;
border-bottom: 1px #525252 solid;
margin: 0;
padding: 0 !important;
}
.md table th {
font-size: 11px;
padding: 5px 0;
}
.md table td {
color: #343434;
border: none;
}
.md table tr {
height: 27.5px;
}
.md table td, .md table th {
text-align: center;
border: none;
}

/* Header
------------------------------------- */
#header {
background-color: #950a1f;
border-bottom: 55px #8a081a solid;
height: 125px;
}

#header #sr-header-area, #header #sr-more-link {
height: 20px;
line-height: 20px;
color: #950a1f;
background-color: #1a1a1a;
/*border-bottom: #343434 solid 1px;*/
}

#header #sr-header-area a, a:visited {
color: #950a1f;
}


/* List fix
------------------------------------- */
sr-more-link {
background-color: #950a1f;
}

.drop-choices a.choice {
color: #000 !important;
}

.dropdown.srdrop .selected{
color: #950a1f !important;
}

/* User Notification Bar */
.user, .user a, #mailCount, .pref-lang, .logout.hover a, .res-navTop .separator {
color:white !important;
}

.logout.hover a {
padding-right: 21px !important;
}

#header-bottom-right{
position: absolute;
top: 135px !important;
right: 0px !important;
border-radius: 0 !important;
background-repeat: repeat-x;    
display: block;
background-color:transparent!important;
height: 28px !important;
padding: 10px 0px 0px !important;
}
body.res #header #header-bottom-right{
position: absolute;
top: 135px !important;
right: 0px !important;
background-repeat: repeat-x;
display: block;
background-color:transparent!important;
height: 28px !important;
}

#userbarToggle{
color: white !important;
border-radius: 0 !important;
background-color:transparent!important;
border: none !important;
line-height:38px !important;
min-height: 38px !important;
}

#userbarToggle.userbarShow {
left: -30px !important;
}

/* Subreddit List on the Top
------------------------------------- */

#RESShortcutsEditContainer {
width: 64px;
margin-top:1px;
background-color: #1a1a1a!important;
}


#RESShortcutsSort, #RESShortcutsRight, #RESShortcutsLeft, #RESShortcutsAdd, #RESShortcutsTrash {
background-color: #1a1a1a!important;
color: #950a1f !important;
}

#RESShortcutsRight, #RESShortcutsLeft, #RESShortcutsAdd {
font-size: 11px !important;
line-height: 16px !important;
}

#RESStaticShortcuts, #RESShortcuts, #srDropdown { 
margin-top:1px !important;
}

.separator {
color: #333 !important;
}

#RESShortcutsSort {
font-size: 11px !important;
line-height:15px !important;
}

#sr-header-area  {
background: #1a1a1a !important;
border-bottom: none !important;
height:20px !important;
}

#sr-header-area a  {
color: #950a1f;
}

.selected .title {
color:white !important;
}

.NERPageMarker {
margin-top: 0px !important;
margin-bottom: 0px !important;
border:0px black solid !important;
}


/* Subreddit menu and logo
------------------------------------- */

#header #header-bottom-left {
position: relative;
top: 25px;
}

#header .pagename {
visibility: hidden;
position: relative;
bottom: 10px;
}
#header .pagename a:before {
visibility: visible;
content: url(%%sr-logo%%);
color: #fff;
}

#header .tabmenu {
position: absolute;
left: 55px;
top: 94px;
font-family: "HelveticaNeue" ,"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-weight: 700;
text-transform: uppercase;
background: none;
color: #5a0910;
border: none;
font-size: 12px;
}

#header .tabmenu li {
margin-left: 0px;
}
#header .tabmenu li.selected a {
color: #fff;
font-weight: 700;
border: none;
background: none;
/* TODO notch */
}
#header .tabmenu li a {
background: none;
color: #5a0910;
padding: 20px 15px;
}
#header .tabmenu li a:hover {
color: #fff;
}

#header-img{
margin-top: 10px;
margin-right: 5px;
}

/* Link Listing
------------------------------------- */

.sitetable.linklisting .rank, .sitetable.linklisting .thumbnail, .sitetable.linklisting .flair {
display: none !important;
width: 0px !important;
height: 0px !important;
margin-bottom: inherit !important;
}
.sitetable.linklisting .thing {
margin: 0;
padding: 12px 55px;
}

.sitetable.linklisting .thing .midcol {
padding: 0;
margin: 0;
width: 12px;
position: relative;
top: -6px;
}
.sitetable.linklisting .thing .score {
font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif !important;
margin-left: 3px;
margin-right: 1px;
font-size: 12px !important;
}
.sitetable.linklisting .thing .score.likes {
color: #bb2211;
}
.sitetable.linklisting .thing .score.dislikes {
color: #92c4e8;
}
.sitetable.linklisting .thing .arrow {
height: 16px;
width: 16px;
margin: 0;
background-image: url(%%sprite%%);
}
.sitetable.linklisting .thing .arrow.up {
background-position: 0px 5px;
}
.sitetable.linklisting .thing .arrow.upmod {
background-position: -20px 5px;
}
.sitetable.linklisting .thing .arrow.down {
background-position: -40px 3px;
display:none;
}
.sitetable.linklisting .thing .arrow.downmod {
background-position: -60px 3px;
}
.sitetable.linklisting .thing .entry {
padding-left: 44px;
margin: 0;
}
.sitetable.linklisting .thing .title a {
color: #950a1f;
font-size: 16px;
}
.sitetable.linklisting .thing .title a:hover {
color: #730017;
}
.sitetable.linklisting .thing .title .domain, .sitetable.linklisting .thing .title .domain a {
position: relative;
top: -1px;
font-size: 11px;
color: #999999;
text-transform: lowercase;
}
.sitetable.linklisting .thing .tagline, .sitetable.linklisting .thing .tagline a, .sitetable.linklisting .thing .flat-list, .sitetable.linklisting .thing .flat-list ul {
display: inline;
font-size: 11px;
color: #999999;
}

.sitetable.linklisting .thing.self .title {
padding-left: 12px;
}
.sitetable.linklisting .thing.self .expando-button {
position: relative;
top: -20px;
margin: 0;
height: 18px;
width: 18px;
z-index: 99;
background: url(%%sprite%%);
background-position: -160px 4px;
}
.sitetable.linklisting .thing.self .expando-button:hover {
background-position: -180px 4px;
cursor: pointer;
}
.sitetable.linklisting .thing.self .tagline {
left: -18px;
position: relative;
}


/*
----- SIDEBAR -----
*/
.side {
margin: 20px;
padding: 12px 20px 6px 20px;
background: #fff;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
border-radius: 5px;
}
.side a, .side a:visited { color: #c92e40; }
.side a:hover {
	color: #000;
	text-decoration: none;
}

#search input[type=text] {
	padding: 5px 10px;
	width: 279px;
	color: #c8c8c8!important;
	border: 1px solid #c8c8c8;
	background: #FFF;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

.sidebox.submit.submit-link {
	padding-top: 7px!important;
}

.titlebox {
	margin-top: 27px;
	padding: 10px;
	background: #FFF;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}
.titlebox h1 {
	font-size: 16px;
	width: 300px;
	margin: -10px -10px 10px -10px;
	padding: 0!important;
	color: #FFF;
	background: #7D7D7D;
	text-align: center;
	line-height: 36px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}
	.titlebox h1.redditname a {
		display: block;
		font-size: 14px;
		width: 300px;
		height: 36px;
		color: #FFF;
		text-indent: -9999px;
	}
	.titlebox h1.redditname a:hover { background-position: -330px -410px; }
.titlebox .usertext .md { overflow: visible; }
.titlebox form.toggle.flairtoggle { width: 280px; }
.titlebox .tagline { line-height: 30px; }
.titlebox .tagline a.author { font-weight: bold; }
.titlebox .bottom {
	display: inline-block;
	width: 280px;
	border-top: 1px solid #E6E6E6;
	line-height: 20px;
}
	.titlebox .bottom span.flair, .titlebox .bottom a.author { display: none; }
	
	.titlebox .bottom {
		position: relative!important;
		color: #FFF;
	}
	.titlebox .bottom span.age {
		position: absolute!important;
		left: 0!important;
		width: 280px!important;
		color: #969696;
		text-align: center!important;
		text-transform: uppercase;
	}

.titlebox .usertext-body .md h4 {
	width: 300px;
	margin: 10px -10px 0 -10px;
	color: #FFF;
	text-align: center!important;
	line-height: 32px!important;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}
	.titlebox .usertext-body .md h4 strong { padding: 0 11px; }
.titlebox .usertext-body .md p {
	width: 280px!important;
	margin: 0 -10px!important;
}
.side .spacer .sidecontentbox .title {
	padding: 0 5px;
	line-height: 24px;
	text-align: center;
}
	.side .spacer .sidecontentbox .title h1 {
		font-weight: bold!important;
		text-shadow: 1px 1px 0 #F5F5F5;
	}

.side .titlebox .usertext-body .md table {
	width: 300px;
	margin: 0 -10px;
	border: 1px solid #808080;
	line-height: 29px;
}
.side .titlebox .usertext-body .md td, .side .titlebox .usertext-body .md th {
	border: 1px solid #FFF!important;
	padding: 0!important;
}
.side .titlebox .usertext-body .md tr:hover { background: #e1e1e1!important; }
	.side .titlebox .usertext-body .md table thead tr  { line-height: 20px!important; }
	.side .titlebox .usertext-body .md table thead tr th  {
		font-size: 11px;
		color: #FFF;
		background: #7D7D7D;
		text-align: center;
		text-transform: uppercase;
	}
	.side .titlebox .usertext-body .md table tbody tr td:first-child, .side .titlebox .usertext-body .md table tbody tr td:nth-child(2) { padding-left: 10px!important; }
	.side .titlebox .usertext-body .md table tbody tr:nth-child(even) { background: #EEE; }

.side .titlebox .usertext-body .md ul { margin: 10px 0 0 0; }
.side .titlebox .usertext-body .md ul li {
	padding: 0 5px;
	list-style: none;
	list-style-type: none;
}
.side .titlebox .usertext-body .md ul li a {
	display: block;
	font-weight: bold;
	margin: 5px 0;
	padding: 0 10px 0 20px;
	
	line-height: 15px!important;
}

.side .titlebox .subButtons {
	padding-top: 5px!important;
	padding-bottom: 10px!important;
}
.side .titlebox .subButtons span.fancy-toggle-button.toggle a, .side .titlebox .subButtons span.subscribe-button a, .side .titlebox .subButtons span.RESshortcut.RESshortcutside, .side .titlebox .subButtons span.REStoggle.RESDashboardToggle {
	border: 0!important;
	padding: 6px 8px;
	color: #FFF;
	background: #838383;
	text-transform: capitalize;
}
.side .titlebox .subButtons span.fancy-toggle-button.toggle a:hover, .side .titlebox .subButtons span.subscribe-button a:hover, .side .titlebox .subButtons span.RESshortcut.RESshortcutside:hover, .side .titlebox .subButtons span.REStoggle.RESDashboardToggle:hover {
	color: #FFF;
	background: #242424;
}
	.side .titlebox .subButtons span.fancy-toggle-button.toggle a.active, .side .titlebox .subButtons span.subscribe-button a.active {
		background: #3c963c!important;
	}
	.side .titlebox .subButtons span.fancy-toggle-button.toggle a.active:hover, .side .titlebox .subButtons span.subscribe-button a.active:hover {
		background: #44b744!important;
	}
	.side .titlebox .subButtons span.fancy-toggle-button.toggle a.remove, .side .titlebox .subButtons span.subscribe-button a.remove {
		background: #cd2323!important;
	}
	.side .titlebox .subButtons span.fancy-toggle-button.toggle a.remove:hover, .side .titlebox .subButtons span.subscribe-button a.remove:hover {
		background: #ea353e!important;
	}

.side .titlebox .subscribers,
.side .titlebox .users-online {
	font-weight: bold;
	margin-bottom: 6px;
}
.side .titlebox .users-online { color: #619A30; }
.side .titlebox .users-online.fuzzed { float: right!important; }
.side .titlebox  .subscribers span.number:after  { content: " Manchester United fans" }
.side .titlebox .users-online span.number:after { content: " online" }
.side .titlebox span.word { display: none; }
.side .titlebox div.leavemoderator, .side .titlebox form.leavecontributor, .side .titlebox form.flairtoggle {
	clear: right!important;
	overflow: hidden!important;
}
	
	.side .sidebox.create {
		margin-bottom: -16px!important;
	}
	.side .spacer .sidecontentbox {
		position: relative;
	}
		.side .spacer .sidecontentbox a.helplink {
			font-size: 14px;
			font-weight: bold;
			margin-bottom: 12px;
			width: 300px;
			height: 36px!important;
			color: #fff;
			background-color: #920e23;
			line-height: 36px!important;
			text-align: center;
			text-transform: capitalize;
			-webkit-border-radius: 5px;
			-o-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			border-radius: 5px;
		}
		.side .spacer .sidecontentbox a.helplink:hover {
		
		}

.linkinfo .upvotes, .linkinfo .downvotes, .linkinfo .score {
	float: left;
	margin: 8px 10px 10px 0;
	padding: 5px 10px 5px 0;
	text-align: center;
}
	.linkinfo .score {
		display: block;
		font-size: 11px;
		min-width: 80px;
		margin-left: 30px!important;
	}
	.linkinfo .downvotes .number, .linkinfo .upvotes .number, .linkinfo .score .number {
		display: block;
		font-size: 20px!important;
		font-weight: normal!important;
	}
	.linkinfo .score .word {
		display: none;
	}
.linkinfo .shortlink {
	clear: both!important;
	font-size: 10px;
	width: 256px!important;
	margin: 0 10px;
	border: 1px solid #DCDCDC;
	line-height: 28px;
	text-transform: uppercase;
	text-align: center;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}
	.linkinfo .shortlink input {
		font-size: 12px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 8px;
		color: #C92E40;
		border: 0px!important;
		background: transparent;
	}

.morelink {
	border: none;
	background-color: transparent;
}
.morelink, .morelink a {
	font: normal x-small verdana,arial,helvetica,sans-serif!important;
	font-size: 14px!important;
	font-weight: bold!important;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}
.morelink a, .morelink a:visited {
	font-size: 12px;
	height: 36px!important;
	color: #FFF;
	background: #920e23;
	
	line-height: 36px!important;
	text-transform: capitalize;	
}
.morelink a:hover {
	color: #FFF;
	background: #950a1f;
}
.morelink .nub, .sidebox.create .spacer {
	display: none!important;
}
.sidebox.create .morelink {
	margin: 19px 0 17px 0;
	height: 36px!important;
	line-height: 36px!important;
}

.side .spacer .sidecontentbox .title span {
	position: relative;
	top: -7px;
	width: 10px;
	height: 10px;
	line-height: 10px;
}

.side .linkinfo, .sidecontentbox ul.content {
	padding: 10px;
	border: 1px solid #E6E6E6;
	background: #FFF;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

.sidecontentbox ul.content li a.author {
	margin-bottom: 5px;
}
.sidecontentbox ul.content li:last-child a.author {
	margin-bottom: 0;
}

.sidecontentbox ul.content li {
	position: relative;
}
.sidecontentbox ul.content li span.flair {
	position: absolute;
	top: 0;
}
.sidecontentbox ul.content li a.author {
	display: inline-block;
	font-weight: bold;
	margin-left: 40px;
	line-height: 30px;
}